git init
git add .
git commit -m "First commit: React frontend setup"
git branch -M main
git remote add origin [https://github.com/TU_USUARIO/urbanfix-frontend.git](https://github.com/TU_USUARIO/urbanfix-frontend.git)
git push -u origin main
